{% trans_default_domain 'KolyyaOAuthBundle' %}

<link rel="stylesheet" href="{{ asset('bundles/kolyyaoauth/css/soc_auth.css') }}" />

{% for item in order %}
    <a href="{{ hwi_oauth_login_url(item) }}" class="soc__btn soc__btn_{{ ids[item] }}"><div class="soc__light">{{ ('login.'~item)|trans }}</div></a>
{% endfor %}