.kolyya-oauth .connect-list {

}

.kolyya-oauth .connect-item-wrap {
    position: relative;
}

.kolyya-oauth .connect-item {
    width: 250px;
    height: 50px;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #efefef;
}


.kolyya-oauth .connect-item_type_vk {
    border: 1px solid #45668e;
}

.kolyya-oauth .connect-item_type_fb {
    border: 1px solid #3b5998;
}

.kolyya-oauth .connect-item_type_ok {
    border: 1px solid #ed812b;
}

.kolyya-oauth .connect-item_type_mr {
    border: 1px solid #168de2;
}

.kolyya-oauth .connect-item_type_gg {
    border: 1px solid #dd4b39;
}

.kolyya-oauth .connect-item_no-connect {
    border: 1px solid #efefef;
}

.kolyya-oauth .connect-item__connect {
    display: block;
    margin-top: 12px;
    color: #000;
    text-align: center;
    vertical-align: center;
}

.kolyya-oauth .connect-item__avatar {
    float: left;
    width: 40px;
    height: 40px;
    margin: 5px 0 0 5px;
    border-radius: 5px;
    background: #efefef center center;
    background-size: cover;
    box-shadow: 0 0 4px #efefef;
}

.kolyya-oauth .connect-item__data {
    position: relative;
    float: left;
    margin-left: 5px;
}

.kolyya-oauth .connect-item__name {
    position: absolute;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.kolyya-oauth .connect-item__disconnect {
    position: absolute;
    top: 20px;
    color: #000;
}

.kolyya-oauth .connect-item__disconnect:hover {
    color: red;
}

.kolyya-oauth .connect-item__icon {
    float: left;
    width: 50px;
    height: 50px;
}

.kolyya-oauth .connect-item__icon_type_vk {
    background: #45668e url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.785 16.241s.288-.032.436-.194c.136-.148.132-.427.132-.427s-.02-1.304.576-1.496c.588-.19 1.341 1.26 2.14 1.818.605.422 1.064.33 1.064.33l2.137-.03s1.117-.071.587-.964c-.043-.073-.308-.661-1.588-1.87-1.34-1.264-1.16-1.059.453-3.246.983-1.332 1.376-2.145 1.253-2.493-.117-.332-.84-.244-.84-.244l-2.406.015s-.178-.025-.31.056c-.13.079-.212.262-.212.262s-.382 1.03-.89 1.907c-1.07 1.85-1.499 1.948-1.674 1.832-.407-.267-.305-1.075-.305-1.648 0-1.793.267-2.54-.521-2.733-.262-.065-.454-.107-1.123-.114-.858-.009-1.585.003-1.996.208-.274.136-.485.44-.356.457.159.022.519.099.71.363.246.341.237 1.107.237 1.107s.142 2.11-.33 2.371c-.325.18-.77-.187-1.725-1.865-.489-.859-.859-1.81-.859-1.81s-.07-.176-.198-.272c-.154-.115-.37-.151-.37-.151l-2.286.015s-.343.01-.469.161C3.94 7.721 4.043 8 4.043 8s1.79 4.258 3.817 6.403c1.858 1.967 3.968 1.838 3.968 1.838h.957z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat;
}

.kolyya-oauth .connect-item__icon_type_fb {
    background: #3b5998 url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.423 20v-7.298h2.464l.369-2.845h-2.832V8.042c0-.824.23-1.385 1.417-1.385h1.515V4.111A20.255 20.255 0 0 0 14.148 4c-2.183 0-3.678 1.326-3.678 3.76v2.097H8v2.845h2.47V20h2.953z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat;
}

.kolyya-oauth .connect-item__icon_type_ok {
    background: #ed812b url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23FFF' fill-rule='evenodd'%3E%3Cpath d='M11.674 6.536a1.69 1.69 0 0 0-1.688 1.688c0 .93.757 1.687 1.688 1.687a1.69 1.69 0 0 0 1.688-1.687 1.69 1.69 0 0 0-1.688-1.688zm0 5.763a4.08 4.08 0 0 1-4.076-4.075 4.08 4.08 0 0 1 4.076-4.077 4.08 4.08 0 0 1 4.077 4.077 4.08 4.08 0 0 1-4.077 4.075zM10.025 15.624a7.633 7.633 0 0 1-2.367-.98 1.194 1.194 0 0 1 1.272-2.022 5.175 5.175 0 0 0 5.489 0 1.194 1.194 0 1 1 1.272 2.022 7.647 7.647 0 0 1-2.367.98l2.279 2.28a1.194 1.194 0 0 1-1.69 1.688l-2.238-2.24-2.24 2.24a1.193 1.193 0 1 1-1.689-1.689l2.279-2.279'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
}

.kolyya-oauth .connect-item__icon_type_mr {
    background: #168de2 url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.889 9.667a1.333 1.333 0 1 0 0-2.667 1.333 1.333 0 0 0 0 2.667zm6.222 0a1.333 1.333 0 1 0 0-2.667 1.333 1.333 0 0 0 0 2.667zm4.77 6.108l-1.802-3.028a.879.879 0 0 0-1.188-.307.843.843 0 0 0-.313 1.166l.214.36a6.71 6.71 0 0 1-4.795 1.996 6.711 6.711 0 0 1-4.792-1.992l.217-.364a.844.844 0 0 0-.313-1.166.878.878 0 0 0-1.189.307l-1.8 3.028a.844.844 0 0 0 .312 1.166.88.88 0 0 0 1.189-.307l.683-1.147a8.466 8.466 0 0 0 5.694 2.18 8.463 8.463 0 0 0 5.698-2.184l.685 1.151a.873.873 0 0 0 1.189.307.844.844 0 0 0 .312-1.166z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat;
}

.kolyya-oauth .connect-item__icon_type_gg {
    background: #dd4b39 url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20enable-background%3D%22new%200%200%2032%2032%22%20version%3D%221.1%22%20viewBox%3D%220%200%2032%2032%22%20xml%3Aspace%3D%22preserve%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cg%20id%3D%22Flat_3%22%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M23.85%2C14.468c0.102%2C0.546%2C0.158%2C1.118%2C0.158%2C1.716c0%2C4.668-3.125%2C7.988-7.845%2C7.988c-4.515%2C0-8.172-3.657-8.172-8.172%20%20%20%20s3.657-8.172%2C8.172-8.172c2.207%2C0%2C4.05%2C0.812%2C5.465%2C2.13l-2.304%2C2.304v-0.005c-0.858-0.817-1.946-1.236-3.161-1.236%20%20%20%20c-2.697%2C0-4.888%2C2.278-4.888%2C4.975c0%2C2.696%2C2.191%2C4.98%2C4.888%2C4.98c2.446%2C0%2C4.111-1.4%2C4.454-3.32h-4.454v-3.187L23.85%2C14.468%20%20%20%20L23.85%2C14.468z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat;
}

.kolyya-oauth .connect-item__icon_no-connect {
    background-color: #bfbfbf;
}